{
  "type": "postgres",
  "host": "localhost",
  "port": 5432,
  "username": "your_username",
  "password": "your_password",
  "database": "your_database",
  "entities": [
    "./src/modules/**/infra/typeorm/entities/*.ts" // change for "./dist/modules/**/infra/typeorm/entities/*.js" in production
  ],
  "migrations": [
    "./src/shared/infra/typeorm/migrations/*.ts" // change for "./dist/shared/infra/typeorm/migrations/*.js" in production
  ],
  "cli": {
    "migrationsDir": "./src/shared/infra/typeorm/migrations" // change for "./dist/shared/infra/typeorm/migrations" in production
  }
}
